<div style="width: 100%;">
  <% if notice.present? %>
    <p class="py-3 px-3 mb-5" id="notice">
      <% notice %>
    </p>
  <% end %>
  <h1 class="mb-3 pb-2 border-bottom">Your pragmatic catalog</h1>
  <ul style="list-style-type: none;">
    <% @products.each do |product| %>
      <li class="d-flex mb-5">
        <%= image_tag(product.image_url, style: "width: 150px; height: 200px;", class: "shadow mx-3") %>
        <div>
          <h2 class="mb2"><%= product.title %></h2>
          <p><%= sanitize(product.description) %></p>
          <div class="mt-4">
            <%= number_to_currency(product.price) %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>
